<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Eletrodomésticos</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Loja de Eletrodomésticos</h1>

        <h2>Clientes</h2>
        <ul>
            {% for cliente in clientes %}
                <li>{{ cliente.nome }} - {{ cliente.email }}</li>
            {% endfor %}
        </ul>

        <h2>Produtos</h2>
        <ul>
            {% for produto in produtos %}
                <li>{{ produto.nome_produto }} - R$ {{ produto.preco_produto }}</li>
            {% endfor %}
        </ul>

        <h2>Cadastrar Cliente</h2>
        <form action="/cadastrar_cliente" method="post">
            Nome: <input type="text" name="nome" required>
            Email: <input type="email" name="email" required>
            <input type="submit" value="Cadastrar">
        </form>

        <h2>Cadastrar Produto</h2>
        <form action="/cadastrar_produto" method="post">
            Nome do Produto: <input type="text" name="nome_produto" required>
            Preço do Produto: <input type="text" name="preco_produto" required>
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>